* {
  box-sizing: border-box;
}

html {
  background: #e6f2ff;
  background: linear-gradient(to top, #e6f2ff, #ffffff) fixed;
  color: rgba(0, 0, 0, 0.80);
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.main-logo {
  font-size: 5em;
  margin: 10px 0;
  margin-bottom: 30px;
  color: #fcaf3e;
  text-shadow:
    1px 1px 0 #f57900,
    2px 2px 0 #f57900,
    3px 3px 0 #f57900,
    4px 4px 0 #f57900;
}

.wunderground-logo {
  display: block;
}

.wunderground-logo img {
  width: 385px;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

.weatherdiff {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content:space-between;
}

.weatherpicker {
  -webkit-flex: 1 0 300px;
  flex: 1 0 300px;
  margin: 10px;
}

.weatherpicker .message {
  text-align: center;
}

.zipinput {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.zipinput label {
  font-weight: bold;
  display: block;
}

.zipinput input {
  display: block;
  border: 0;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.30);
  background: transparent;
  padding: 4px 10px;
  width: 7em;
}

.zipinput input:focus {
  outline: 3px solid #f57900;
}

.weathercard {

  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
}

.weather-icon {
  width: 100px;
}

.city {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.temperature {
  font-size: 3em;
  margin-bottom: 10px;
}

.details {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
}

footer a {
  color: inherit;
}
