/* Border-box is the only box model that makes any sense */

* {
  box-sizing: border-box;
}

/* Give the body a subtle sky-like gradient */

html {
  background: #EBF5FF;
  background: linear-gradient(to bottom, #ffffff, #EBF5FF) fixed;
  color: rgba(0, 0, 0, 0.80);
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  min-height: 100%;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

/* Make inputs look more sensible by default */

input {
  font-family: inherit;
  font-size: inherit;
}

/* Make the page title larger and centered */

.main-logo {
  font-size: 3em;
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

/* This container holds the summary/help text and the CardHolder */

.weatherdiff {
  text-align: center;
}

.weatherdiff .summary {
  display: inline-block;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
  background: #53769C;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  margin-bottom: 1em;
}

/* This exists just to be a flexbox wrapper for the WeatherPickers */

.cardholder {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content:space-around;
}

/* The container for the ZIP input and WeatherCard */

.weatherpicker {
  -webkit-flex: 1 0 50%;
  flex: 1 0 300px;
  margin: 10px;
}

.weatherpicker .message {
  text-align: center;
  font-weight: bold;
  color: #cc0000;
}

/* Styles for friendly ZIP inputs */

.zipinput {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.zipinput label {
  font-weight: bold;
  display: block;
}

.zipinput input {
  display: block;
  border: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  border: 2px solid rgba(83, 118, 156, 0.5);
  border-radius: 4px;
  background: #EBF5FF;
  padding: 4px 10px;
  width: 7em;
}

.zipinput input:focus {
  outline: none;
  box-shadow: 0 0 2px 4px #f57900;
  border-color: transparent;
  background: #fff;
}

/* Styles for the card that shows the weather details */

.weathercard {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  opacity: 1;
}

.weathercard .weather-icon {
  width: 100px;
}

.weathercard .city {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.weathercard .city-name {
  font-weight: bold;
}

.weathercard .temperature {
  font-size: 3em;
  margin-bottom: 10px;
}

.weathercard .details {
  margin-bottom: 10px;
}

/* Keep the footer simple, and make the Wunderground logo fit */

footer {
  padding: 20px;
  text-align: center;
}

footer a {
  color: inherit;
}

.wunderground-logo {
  display: inline-block;
}

.wunderground-logo img {
  width: 385px;
  max-width: 100%;
}
