* {
  box-sizing: border-box;
}

html {
  background: #e6f2ff;
  background: linear-gradient(to bottom, #ffffff, #EBF5FF) fixed;
  color: rgba(0, 0, 0, 0.80);
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  min-height: 100%;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.main-logo {
  font-size: 3em;
  margin: 10px 0;
  margin-bottom: 30px;
  color: black;
}

.wunderground-logo {
  display: inline-block;
}

.wunderground-logo img {
  width: 385px;
  max-width: 100%;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

.weatherdiff {
  text-align: center;
}

.cardholder {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content:space-around;
}

.weatherdiff .summary {
  display: inline-block;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
  background: #53769C;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  margin-bottom: 1em;
}

.weatherpicker {
  -webkit-flex: 1 0 50%;
  flex: 1 0 300px;
  margin: 10px;
}

.weatherpicker .message {
  text-align: center;
  font-weight: bold;
  color: #cc0000;
}

.zipinput {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.zipinput label {
  font-weight: bold;
  display: block;
}

.zipinput input {
  display: block;
  border: 0;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  border: 2px solid rgba(83, 118, 156, 0.5);
  border-radius: 2px;
  background: #fff;
  padding: 4px 10px;
  width: 7em;
}

.zipinput input:focus {
  outline: none;
  box-shadow: 0 0 2px 4px #f57900;
  border-color: transparent;
  background: #fff;
}

.weathercard {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  opacity: 1;
}

.weather-icon {
  width: 100px;
}

.city {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.city-name {
  font-weight: bold;
}

.temperature {
  font-size: 3em;
  margin-bottom: 10px;
}

.details {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
}

footer a {
  color: inherit;
}
